<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(editForm)" #editForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            ngModel
            name="ingredientName"
            class="form-control"
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Cantidad</label>
          <input
            type="number"
            ngModel
            name="amount"
            class="form-control"
            required
            min="1"
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!editForm.valid"
            >
              {{ editMode ? "Editar" : "Agregar" }}
            </button>
            <button
              class="btn btn-danger"
              type="button"
              [disabled]="!editMode"
              *ngIf="editMode"
              (click)="onDeleteItem()"
            >
              Eliminar
            </button>
            <button
              class="btn btn-primary"
              type="button"
              (click)="onClearForm()"
            >
              Limpiar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
